* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESERCIZIO ! */

/* .container {
    width: 80%;
    max-width: 1150px;
    min-width: 320px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid red;
}

.square {
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: brown;
    margin: 1rem auto;
    transition: border-radius 0.2s ease-in;
}

@media screen and (min-width: 479px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .square {
        background-color: blue;
        display: block;
        border-radius: 50%;
    }
} */

/* ESERCIZIO 2 */

.box {
    background-color: azure;
    border: 1px solid blue;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.inner {
    background-color: greenyellow;
    border: 1px solid yellow;
    width: 70%;
    height: 100%;
    display: none;
}

.square {
    background-color: whitesmoke;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    margin: 1rem;
}

@media screen and (min-width: 580px) {

    .inner {
        display: flex;
    }

}